h1 {
    text-align:left;
    /* justify-content: left; */
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 2.5rem;
    /* margin-left: -100px; */
    padding-bottom: 10px;
    /* padding-left: 20px; */
}

.content {
    
    /* margin-left: 100px;
    padding: 20px;
    width: 100%; */
    /* width: calc(100% - 20px); */
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    
}


.card {
    display: flex;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: #f586869c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.249);
    /* margin-left: -400px; */
    width: 100%;
    max-width: 900px;
    max-height: fit-content;
    font-size: large;

    /* margin-left: 0; 
    margin-right: auto;  */

    cursor: pointer;
    transition: all 0.3s ease;
    flex-direction: column;

}

.card:hover{
    background-color:#eb3535df ;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.date {
    /* display: flex; */
    font-weight: bold;
    /* margin-left: 0px; */
    text-align: left;
    margin-top: 10px;
    color: white;

}

.title {
    text-align: center;
    padding-left: 30px;
    padding-right: 20px;
    font-weight: bold;
    margin-top: 10px;
}


.mood {
    /* font-size: 1.5rem; */
    /* width: 30px; */
    height: 40px;
    /* object-fit: contain; */
    margin-left: auto;
    /* padding-left: 10px; */
    margin-right: 10px;
    margin-top: 10px;
}

.playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 10px; */
    margin-left: 20px;
    margin-right: 20px;

}

.playlist-name{
    /* font-size: 14px; */
    font-weight: bold;
    /* margin-bottom: 5px; */
    text-align: center;
    /* margin-left: 12px; */
    color: white;
}

.music-player{
    /* width: 40px; */
    /* margin-left: auto; */
    height: 40px;
    object-fit: contain;
}


.details{
    /* align-self: flex-end; */
    margin-top: 10px;
    font-style: italic;
    font-size: large;
    color: white ;
    text-align: left;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
